* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

.row_poster {
    width: auto; /* Alterado de 100% para auto */
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms; /* Adicionada a propriedade de transição aqui */
}

.row_posters {
    display: flex;
    overflow-x: auto; /* Alterado de hidden para auto */
    overflow-y: hidden;
    padding: 20px;
    width: calc(100% - 40px); /* Adicionada uma largura calculada para compensar o preenchimento */
}

.row_poster:hover {
    transform: scale(1.08);
}


.row_posters::-webkit-scrollbar{
display: none;
}

.large{
max-height: 250px;
}

.large:hover{
    transform: scale(1.09);
    }

.row{
color: white;
padding-bottom: 10px;
margin-left: 20px;
}

#Originais h2{
margin-top: 20px;
}

.banner{
background-image: url(Imagens/netflix/DARK.jpg);
background-size: cover;
background-position: center center;
color: white;
object-fit: contain;
height: 448px;
}

.banner_contents{
margin-left: 30px;
padding-top: 140px;
height: 190px;
}

.banner_title{
font-size: 3rem;

}

.banner_description{
height: 45rem;
line-height: 1.3;
padding-top: 1rem;
font-size: 0.8rem;
max-width: 360px;
height: 180px;
}

.banner_button{
cursor: pointer;
color: white;
outline: none;
border: none;
font-weight: 700;
border-radius: 5%;
padding-left: 2rem;
padding-right: 2rem;
margin-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
background-color: rgba(51, 51, 51, 0.5);

}

.banner_button:hover{
color: #000;
background-color: whitesmoke;
transition: all;

}

.banner-fadebottom{
margin-top: 145px;
height: 7.4rem;
background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61));
}

.nav_logo{
width: 80px;
object-fit: contain;
}

.nav_avatar{
width: 30px;
object-fit: contain;
}

.nav{
position: fixed;
top: 0;
width: 100%;
display: flex;
justify-content: space-between;
padding: 20px;
z-index: 1;
transition-timing-function: ease-in;
transition: all 0.5s;
}

.nav_black{
background-color: #111;
}

.link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: white;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: rgb(185, 0, 0);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  


/* FOOTER */
footer {
    width: 100%;
    height: 150px;
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 10px;
  }


@media only screen and (max-width: 748px) {
    .row_posters {
      padding: 10px;
    }
    
    .banner_contents {
      padding-top: 100px;
      margin-left: 10px;
    }
  
    .banner_title {
      font-size: 2rem;
    }
  
    .banner_description {
      font-size: 0.7rem;
      max-width: 250px;
      height: 150px;
    }
  
    .banner_button {
      padding-left: 20px;
      padding-right: 1.5rem;
      margin-right: 0.5rem;
      font-size: 0.8rem;
    }
  
    .nav_logo {
      width: 100px;
    }
  
    .nav_avatar {
      width: 60px;
    }
  }

  
  
  @media only screen and (max-width: 480px) {
    .row_poster {
      max-height: 80px;
      margin-right: 5px;
    }
  
    .banner_contents {
      padding-top: 80px;
      margin-left: 5px;
    }
  
    .banner_title {
      font-size: 2rem;
      padding-left: 20px;
    }
  
    .banner_description {
      font-size: 0.90rem;
      max-width: 200px;
      height: 100px;
      padding-left: 20px;

    }

    .banner_buttons{
    padding-left: 20px;
    }
  
    .banner_button {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 0.3rem;
      font-size: 0.7rem;
    }
  
    .nav_logo {
      width: 100px;
    }
  
    .nav_avatar {
      width: 40px;
    }
  }